body {
            background: url('SnowLandJP.jpg') no-repeat scroll;
            background-attachment: fixed;
            background-size: 100% 100%;
            min-height: 800px;
        }
        .boxed {
          border: 3px solid #ffffff;
          background-color: #dc143c;
        }
